
@charset "utf-8";

html {
    color: black;	
    font-family: arial;
}

body {
    margin: 0.5em auto;
    max-width: 32cm;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}

ul.intend1 {
    margin-left: auto; 
    margin-right: auto;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article {
    /* padding-left: 2cm; */
    flex: 1 1 55%;
    order: 2;
}

aside {
    /* text-align: justify; */
    flex: 1 1 20%;
    order: 1;
}


footer{ 
    text-align: center;
    color: #000000;
    /* font-size: small; */
    /* text-align: right; */
}

hr.new1 {
    margin-left: 2cm;
    margin-right: 2cm;
}

p.justify{
    text-align: justify;
}
p.center{
    text-align: center;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
/*
details summary::-webkit-details-marker {
  display:none;
}
*/
details > summary.pointer {
        cursor: help;
}

.tooltip {
  position: relative;
  display: inline-block;
/*
  border-bottom: 1px dotted black;
*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  /* background-color: #324981; */
  /* color: #fff; */
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

header {
    /* color: #FFFFFF;	
    background: #11112F; */
}
h1, h2 {
    text-align: center;
}

h1.m {
    text-align: inline:
}

h2.m {
  text-align: inline:
}

article {
  /* padding-left: 1.cm;
  padding-right: 3.cm; */
  /* padding-right: 3cm; */
    padding: 0.0em 4em;
    /* padding: 0.0em 2em; */
}

aside { 
    /* height: 14cm; */
    height: auto;    
    padding: 0.0em 2em;

}

footer{ 
    font-size: small;
    text-align: right;
}

header nav {
    text-align: center;
    font-size: larger;
    /* background: #c8cdd8; */
    color: #000000;
}
nav, nav ul, nav li{
    padding: 1 1em;
}
nav ul {
  display: flex; 
}
nav li {
  list-style-type:none;
}
nav a[aria-current=page] {
	font-variant:small-caps;
	font-weight:bold;
}
#styleswitcher  ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav a, #styleswitcher button {
  display:inline;
  /* color: #FFFFFF; */
  margin-bottom: 0.2em;
  padding: 0.2em 1em;
  text-decoration: none;
}

nav a:visited {
  color: rgb(0, 0, 0);
}

nav a:hover, nav a:focus, #styleswitcher button:hover, #styleswitcher button:focus {
    background:  #494646;
    color: #FFFFFF;;
}


nav a:hover {
    text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #005469;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 20, 136);
}

a:hover {
    /* text-decoration: underline; */
}

a:active {
    /* text-decoration: underline; */
}
